.DS_Store
.Rhistory
.Rproj.user

data-raw/*.csv
data-raw/*/

man/

*.rds
__pycache__
*.pyc

*.swp
*.bak
*.tmp
*.gcx
*.aux
*.out
*.log
*.pdf
*.o
*.so
*.html

!data/names_2010_counts.rds
data/censusData.rdata

paper/race-proxy.tex
