.DS_Store
.Rhistory
.Rproj.user

data-raw/*.csv
data-raw/*/
data-out

*.rds

*.swp
*.bak
*.tmp
*.gcx
*.aux
*.out
*.axp
*.log
*.o
*.so
*.pdf
*.html

!inst/extdata/*.rds
data/censusData.rdata

paper/race-proxy.tex
paper/polmeth.*
!paper/figures/*.pdf
!paper/data/*.rds
!paper/data/*.csv
replication/presentation.*
inst/doc

pkgdown
docs
