.DS_Store
.Rhistory
.Rproj.user

data-raw/*.csv
data-raw/*/
data-out

man/

*.rds
__pycache__
*.pyc

*.swp
*.bak
*.tmp
*.gcx
*.aux
*.out
*.axp
*.log
*.o
*.so
*.pdf
*.html

!data/names_2010_counts.rds
data/censusData.rdata

paper/race-proxy.tex
paper/polmeth.*
!paper/figures/*.pdf
replication/presentation.*
inst/doc

